.main-form {
    background-image: url('../../staticfiles/mainform/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 40px;
    height: 600px;
    width: 100%;
    /* height: fit-content; */
}

.main-form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.description-container {
    width: 650px;
}

.description-container h1 {
    color: white;
    font-size: 52px;
    font-weight: 600;
}

.description-container h3 {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.form-container {
    width: 450px;
    background: white;
    border-radius: 8px;
    padding: 5px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-offer-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    /* margin: 0 auto; */
}

.input-group {
    flex: 0 0 50%;
    padding: 5px;
    box-sizing: border-box;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-group:last-child {
    margin-left: auto;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    color: rgb(19, 2, 2);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #e8be17;
}

/*  */
@media (max-width: 1060px) {
    .description-container {
        width: 450px;
    }

    .description-container h1 {
        color: white;
        font-size: 42px;
        font-weight: 600;
    }

    .description-container h3 {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 860px) {
    .main-form {
        height: fit-content;
    }

    .main-form-container {
        display: block;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Центрирует текст внутри элемента */
        /* Добавляем отступы для улучшения читаемости */
        padding: 20px;
    }

    /* Стили для .description-container и .main-form-container-right */
    .description-container,
    .main-form-container-right {
        margin: 20px 0;
    }
}

@media (max-width: 490px) {
    .form-container {
        width: 380px;
        background: white;
        border-radius: 8px;
        padding: 5px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-offer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Центрирует текст внутри элемента */
    }

    .main-offer-form .input-group {
        width: 100%;
        max-width: 300px; /* Вы можете настроить максимальную ширину по вашему усмотрению */
        margin-bottom: 10px; /* Добавляем отступы между элементами */
    }

    .main-offer-form button {
        width: 80%; /* Устанавливаем ширину кнопки */
        margin: 10px auto; /* Центрируем кнопку по горизонтали */
    }
}
